<p id="notice"><%= notice %></p>

<!-- remoção do formulário de consulta  -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
   <div class="form-group" align="center">
        <%= form_tag(:action=> "index", :controller=> "home", :method=> "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Pesquise"%>
          <%= select_tag(:category, options_for_select([['Serviço', 1], ['Comércio', 2]], :selected => params[:category]), class: "form-control") %>
          <!-- < %= collection_select(:params, :category, Occupation.all, :id, :area, include_blank: true) %> -->
          <%= submit_tag "Pesquise", class: "btn btn-primary"%>
        <% end %>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
              
<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <% if @meis == [] %>
        <div>
          <p> Não encontramos nenhum mei para esta pesquisa...</p> 
        </div>
    <% else %>
    <% @meis.each do |mei| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= mei.nome %></h3>
           </div>
           <div class="panel-body">
             <p><strong>Descricao da atividade:</strong></p>
             <%= mei.descricao_atividade %>
            <br>
            <div>
              <br>
            <%= link_to 'Mostrar Mais', mei, class: 'btn btn-sm btn-info' %>
            </div>
          </div>
        </div>
    <% end %>
    <% end %>
    </div>
    
  <div class="col-md-2">
  </div>
</div>

<!--
<table>
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Razao social</th>
      <th>Cpf</th>
      <th>Rg</th>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Descricao atividade</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    < % @meis.each do |mei| %>
      <tr>
        <td>< %= mei.cnpj %></td>
        <td>< %= mei.razao_social %></td>
        <td>< %= mei.cpf %></td>
        <td>< %= mei.rg %></td>
        <td>< %= mei.nome %></td>
        <td>< %= mei.sexo %></td>
        <td>< %= mei.descricao_atividade %></td>
        <td>< %= mei.email %></td>
        <td>< %= link_to 'Show', mei %></td>
        <td>< %= link_to 'Edit', edit_mei_path(mei) %></td>
        <td>< %= link_to 'Destroy', mei, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    < % end %>
  </tbody>
</table>
-->

<br>



<hr>
