<p id="notice"><%= notice %></p>

<!-- remoção do formulário de consulta  -->
<div class="row">
  <div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="navbar-form" align = "center">
      <div class="form-group">
      <%= render "layouts/search_form" %>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  </div>
</div>
</br>
              
<div class="row">
  <div class="col-md-1">
  </div>
  
  <div class="col-md-10">
    <% if @meis == [] %>
        <div>
          <div>
          <script>
          function funcao1(){
            alert("Não encontramos nenhum mei para esta pesquisa.");
          }
          funcao1();
          </script>
        <div>
            <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Ops!</strong> Não encontramos nenhum mei para esta pesquisa.
            </div>
          </div>
        </div>
    <% else %>
    <% @meis.each do |mei| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= mei.nome %></h3>
           </div>
           <div class="panel-body">
             <p><strong>Cnpj:</strong></p>
             <%= mei.cnpj %>
             <p><strong>Descricao da atividade:</strong></p>
             <%= mei.descricao_atividade %>
            <br>
            <div>
              <br>
            <%= link_to 'Mostrar Mais', mei, class: 'btn btn-sm btn-info' %>
            </div>
          </div>
        </div>
        
    <% end %>
    <%= will_paginate @meis, renderer: BootstrapPagination::Rails %>
    <% end %>
    </div>
  <div class="col-md-1">
  </div>
</div>

<!--
<table>
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Razao social</th>
      <th>Cpf</th>
      <th>Rg</th>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Descricao atividade</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    < % @meis.each do |mei| %>
      <tr>
        <td>< %= mei.cnpj %></td>
        <td>< %= mei.razao_social %></td>
        <td>< %= mei.cpf %></td>
        <td>< %= mei.rg %></td>
        <td>< %= mei.nome %></td>
        <td>< %= mei.sexo %></td>
        <td>< %= mei.descricao_atividade %></td>
        <td>< %= mei.email %></td>
        <td>< %= link_to 'Show', mei %></td>
        <td>< %= link_to 'Edit', edit_mei_path(mei) %></td>
        <td>< %= link_to 'Destroy', mei, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    < % end %>
  </tbody>
</table>
-->

<br>



<hr>