<p id="notice"><%= notice %></p>

<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @mei.nome %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <img class="img-circle" src="http://www.androidrundown.com/wp-content/uploads/2010/07/android_logo-140x140.gif" alt="Generic placeholder image" width="140" height="140">
          </div>
          <div class="col-md-10">
            
            <p>
              <strong>Nome:</strong>
              <%= @mei.nome %>
            </p>
            
            <p>
              <strong>Razao social:</strong>
              <%= @mei.razao_social %>
            </p>
            
            <p>
              <strong>Cnpj:</strong>
              <%= @mei.cnpj %>
            </p>

            <!-- aqui existia os campos que decidimos retirar, mas estavam comentados. É interessante retirar mesmo, pois
            é algo que fica vizível quando observamos o código html no navegador. -->

            <p>
              <strong>Descricao atividade:</strong>
              <%= @mei.descricao_atividade %>
            </p>



            <p>
              <strong>Contatos:</strong>
              <br><!-- @contatos é uma variável que recebe os contatos no controlador, a partir de @meis.phone_numbers -->
                <% @contatos.each do |m| %> 
                    <p><%= m.number %></p>
                <% end %>
            </p>
            
            
            <p>
              <strong>Email:</strong>
              <%= @mei.email %>
            </p>
            
            <p>
              <strong>Endereço Comercial:</strong>
                <% @endereco_comercial.each do |m| %> 
                    Rua <%= m.rua %>, <%= m.bairro %>, <%= m.cidade %>
                <% end %>
            </p>
            
            <p>
              <%= link_to 'Editar', edit_mei_path(@mei), class:'btn btn-sm btn-info' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="col-md-2">
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <%= link_to '<< Voltar', meis_path, class:'btn btn-sm btn-info' %>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Comentarios -->
<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <h3>Veja o que estão falando sobre <%= @mei.nome %></h3>
    
    <% @comments.each do |comentario| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= comentario.title %></h3>
        </div>
        <div class="panel-body">
          <%= comentario.description %>
          <br>
          <br>
          <i>por <%= comentario.name %></i>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-2">
  </div>
</div>

<!-- Postar Comentarios -->
<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <h2>Adicione um comentario:</h2>
    <%= form_for([@mei, @mei.comments.build]) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_area :title %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    
    <!--< %= form_for(@comment) do |f| %>
      Nome < %= f.text_field :name %><br />
      Título : < %= f.text_field :title %><br />
      Descricao: < %= f.text_area :description %><br />
      mei_id : < %= f.text_field :mei_id %><br />
    < %= f.submit %>
    < % end %>-->
  </div>
  
</div>
