<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @mei.nome.split(" ").first.capitalize %> <%= @mei.nome.split(" ").last.capitalize %></h3> <!-- a primeira letra de cada palavra maiúscula -->
      </div>
      <div class="panel-body">
        <div class="col">
          <div class="col-md-2">
            <%= image_tag("figureMEI.jpg", class:"img-rounded", alt:"MEIs") %>
          </div>
          <div class="col-md-6">
            <p>
              <label>Nome:</label>
              <%= @mei.nome.split(" ").first.capitalize %> <%= @mei.nome.split(" ").last.capitalize %> <!-- a primeira letra de cada palavra maiúscula -->
            </p>
            
            <p>
              <label>Razao social:</label>
              <%= @mei.razao_social.split.map(&:capitalize).join(' ') %> <!-- a primeira letra de cada palavra maiúscula -->
            </p>
            
            <p>
              <label>Cnpj:</label>
              <%= @mei.cnpj %>
            </p>

            <!-- aqui existia os campos que decidimos retirar, mas estavam comentados. É interessante retirar mesmo, pois
            é algo que fica vizível quando observamos o código html no navegador. -->

            <p>
              <label>Descricao atividade:</label>
              <%= @mei.descricao_atividade.capitalize %> <!-- apenas a primeira letra maiúscula -->
            </p>



            <p>
              <label>Contatos:</label>
              <br><!-- @contatos é uma variável que recebe os contatos no controlador, a partir de @meis.phone_numbers -->
                <% @contatos.each do |m| %> 
                    <p><%= m.number %></p>
                <% end %>
            </p>
            
            
            <p>
              <label>Email:</label>
              <%= @mei.email %>
            </p>
            
            <p>
              <label>Endereço:</label>
                <% @endereco_comercial.each do |m| %> 
                    Rua <%= m.rua %>, <%= m.bairro %>, <%= m.cidade %>
                <% end %>
            </p>
            
            <p>
               <!-- < %= link_to 'Editar', edit_mei_path(@mei), class:'btn btn-sm btn-info' % > Será necessário o usuário logar para editar o mei-->
            </p>
          </div>
          <div class="col-md-4">
            <% if current_user %>
              <center>Classifique este MEI</center>
            <% else %>
              <center><p class="alert alert-info">Faça login para avaliar este MEI.</center>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>

<!-- btn voltar -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <%= link_to 'Voltar', meis_path, class:'btn btn-sm btn-info' %>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Comentarios -->
<div class="row" style="margin-top: 15px;">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>Veja o que estão falando sobre <%= @mei.nome.split(" ").first.capitalize %>:</h3>
    <% if @comments.empty? %>
      <div class="alert alert-info">
        Este MEI ainda não possui nenhum comentário...
      </div>
    <% else %>
        <% @comments.each do |comentario| %>
          <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <%= comentario.description %>
              <br><br>
              <i>por <%= comentario.name %></i> <!-- esta lógica não está correta, visto que não é necessário 
                  colocar o nome quando o usuário já estiver logado... -->
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Postar Comentarios -->
<div class="row" style="margin-top: 20px;">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h2>Adicione um comentario:</h2>
        <%= form_for([@mei, @mei.comments.build]) do |f| %>
          <form class="form-horizontal">
            <div class="control-group">
              <div class="controls">
                <%= f.text_field :name, class:"form-control", placeholder: "Nome" %>
              </div> 
            </div>
            <!-- ------- -->
            </br>
            <!-- ------- -->
            <div class="control-group">
              <div class="controls">
                <%= f.text_area :description, size: "60x12", class:"form-control", placeholder: "Digite seu comentário" %>
              </div> 
            </div>
            <!-- ------- -->
            </br>
            <!-- ------- -->
            <% if current_user %>
                <div class="actions"> 
                  <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
                </div>
            <% else %>
                <center><p class="alert alert-info">Faça login para comentar este MEI.</center>
            <% end %>
          </form>
      <% end %>
  </div>
</div>
