<p id="notice"><%= notice %></p>

<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @mei.nome.split(" ").first.capitalize %> <%= @mei.nome.split(" ").last.capitalize %></h3> <!-- a primeira letra de cada palavra maiúscula -->
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag("figureMEI.jpg", class:"img-rounded", alt:"MEIs") %>
          </div>
          <div class="col-md-10">
            
            <p>
              <strong>Nome:</strong>
              <%= @mei.nome.split(" ").first.capitalize %> <%= @mei.nome.split(" ").last.capitalize %> <!-- a primeira letra de cada palavra maiúscula -->
            </p>
            
            <p>
              <strong>Razao social:</strong>
              <%= @mei.razao_social.split.map(&:capitalize).join(' ') %> <!-- a primeira letra de cada palavra maiúscula -->
            </p>
            
            <p>
              <strong>Cnpj:</strong>
              <%= @mei.cnpj %>
            </p>

            <!-- aqui existia os campos que decidimos retirar, mas estavam comentados. É interessante retirar mesmo, pois
            é algo que fica vizível quando observamos o código html no navegador. -->

            <p>
              <strong>Descricao atividade:</strong>
              <%= @mei.descricao_atividade.capitalize %> <!-- apenas a primeira letra maiúscula -->
            </p>



            <p>
              <strong>Contatos:</strong>
              <br><!-- @contatos é uma variável que recebe os contatos no controlador, a partir de @meis.phone_numbers -->
                <% @contatos.each do |m| %> 
                    <p><%= m.number %></p>
                <% end %>
            </p>
            
            
            <p>
              <strong>Email:</strong>
              <%= @mei.email %>
            </p>
            
            <p>
              <strong>Endereço:</strong>
                <% @endereco_comercial.each do |m| %> 
                    Rua <%= m.rua %>, <%= m.bairro %>, <%= m.cidade %>
                <% end %>
            </p>
            
            <p>
              
               <!-- < %= link_to 'Editar', edit_mei_path(@mei), class:'btn btn-sm btn-info' % > Será necessário o usuário logar para editar o mei-->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="col-md-2">
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <%= link_to '<< Voltar', meis_path, class:'btn btn-sm btn-info' %>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Comentarios -->
<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <h3>Veja o que estão falando sobre <%= @mei.nome.split(" ").first.capitalize %>:</h3>
    <% if @comments.empty? %>
      <div class="alert alert-info">
        Este MEI ainda não possui nenhum comentário...
      </div>
    <% else %>
        <% @comments.each do |comentario| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= comentario.title %></h3>
            </div>
            <div class="panel-body">
              <%= comentario.description %>
              <br>
              <br>
              <i>por <%= comentario.name %></i>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
  
  <div class="col-md-2">
  </div>
  
</div>

<!-- Postar Comentarios -->
<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <h2>Adicione um comentario:</h2>
    <%= form_for([@mei, @mei.comments.build]) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_area :title %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    
    <!--< %= form_for(@comment) do |f| %>
      Nome < %= f.text_field :name %><br />
      Título : < %= f.text_field :title %><br />
      Descricao: < %= f.text_area :description %><br />
      mei_id : < %= f.text_field :mei_id %><br />
    < %= f.submit %>
    < % end %>-->
  </div>
  
</div>
