<p id="notice"><%= notice %></p>

<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @mei.nome %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <img class="img-circle" src="http://www.androidrundown.com/wp-content/uploads/2010/07/android_logo-140x140.gif" alt="Generic placeholder image" width="140" height="140">
          </div>
          <div class="col-md-10">
            <p>
              <strong>Cnpj:</strong>
              <%= @mei.cnpj %>
            </p>

            <p>
              <strong>Razao social:</strong>
              <%= @mei.razao_social %>
            </p>

            <p>
              <strong>Cpf:</strong>
              <%= @mei.cpf %>
            </p>

            <p>
              <strong>Rg:</strong>
              <%= @mei.rg %>
            </p>

            <p>
              <strong>Nome:</strong>
              <%= @mei.nome %>
            </p>

            <p>
              <strong>Sexo:</strong>
              <%= @mei.sexo %>
            </p>

            <p>
              <strong>Descricao atividade:</strong>
              <%= @mei.descricao_atividade %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @mei.email %>
            </p>
            
            <p>
              <%= link_to 'Editar', edit_mei_path(@mei), class:'btn btn-sm btn-info' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="col-md-2">
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <%= link_to '<< Voltar', meis_path, class:'btn btn-sm btn-info' %>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Comentarios -->
<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <h3>Veja o que estão falando sobre <%= @mei.nome %></h3>
    
    <% @comments.each do |comentario| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= comentario.title %></h3>
        </div>
        <div class="panel-body">
          <%= comentario.description %>
          <br>
          <br>
          <i>por <%= comentario.name %></i>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-2">
  </div>
</div>

<!-- Postar Comentarios -->
<hr>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <%= form_for(@comment) do |f| %>
      Nome <%= f.text_field :name %><br />
      Título : <%= f.text_field :title %><br />
      Descricao: <%= f.text_area :description %><br />
      mei_id : <%= f.text_field :mei_id %><br />
    <%= f.submit %>
<% end %>
  </div>
  
</div>
