
<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
  <%= form_for(@mei) do |f| %>
    <% if @mei.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mei.errors.count, "error") %> prohibited this mei from being saved:</h2>

      <ul>
        <% @mei.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Seus dados</h3>
      </div>
      
      <p>-------------------------------------------------------------------------------------- 
      <div class="panel-body">
          <!--div para agrupar os dados pessoais e da org. -->
            <!--Acho que aqui deveria conter uma div para agrupar o nome e o sexo... -->
            <div class="field">
              <%= f.label "Seu nome" %><br>
              <%= f.text_field :nome %>
            </div>
            <div class="field">
              <%= f.label :sexo %><br>
              <%= f.select(:sexo, ["Masculino", "Feminino"]) %>
              <!-- < % = f.text_field :sexo %> --
            </div>
            <!--Fim da div-->
          <div class="field">
            <%= f.label "Razão Social" %><br>
            <%= f.text_field :razao_social %>
          </div>
          
          <div class="field">
            <%= f.label "Descrição da Atividade" %><br>
            <%= f.text_area :descricao_atividade %>
          </div>
        <p>--------------------------------------------------------------------------------------
        <div class="field">
          <%= f.label "CNPJ" %><br>
          <%= f.text_field :cnpj %>
        </div>
        <br>
        
        <br>
        <div class="field">
          <%= f.label "CPF" %><br>
          <%= f.text_field :cpf %>
        </div>
        <br>
        <div class="field">
          <%= f.label "RG" %><br>
          <%= f.text_field :rg %>
        </div>
'

        <br>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </div>
        
        
        <p>--------------------------------------------------------------------------------------
        <!--Nested form for phone_numbers-->
        <div class="field"><br>
          <%= f.fields_for :phone_numbers do |builder| %>
          <p><%= builder.label "Contato" %><br>
          <%= builder.text_field :number %>
          <% end %>
        </div>
        
        <!--Nested form for  business_address-->
        <div class="field"><br>
          <%= f.fields_for :business_address do |builder| %>
          <p><b>Endereço Comercial</b> 
          <p>
          <%= builder.label "Rua" %><br>
          <%= builder.text_field :rua %>
          <p>
          <%= builder.label "Bairro" %><br>
          <%= builder.text_field :bairro %>
          <p>
          <%= builder.label "Cidade" %><br>
          <%= builder.text_field :cidade %>
          <% end %>
        </div>
        
        
        <!--Nested form for home_address -->
        <div class="field"><br>
          <%= f.fields_for :home_address do |builder| %>
          <p><b>Endereço Residencial</b> 
          <p>
          <%= builder.label "Rua" %><br>
          <%= builder.text_field :rua %>
          <p>
          <%= builder.label "Bairro" %><br>
          <%= builder.text_field :bairro %>
          <p>
          <%= builder.label "Cidade" %><br>
          <%= builder.text_field :cidade %>
          <% end %>
        </div>
        
        
        <div class="field"><br>
          <%= f.fields_for :acts do |builder| %>
          <%= builder.label "Área de atuação" %><br>
          <%= builder.collection_select(:occupation_id, Occupation.all, :id, :area, prompt: true) %>
          <!-- isso é para pegar somente os dados que estão na tabela do banco -->
          <!--como era: #select :occupation_id, options_for_select([['Serviço', 1], ['Comércio', 2]]), include_blank: true %> -->
          <% end %>
        </div>
        
        
        <div class="field"><br>
          <%= f.fields_for :works do |builder| %>
          <%= builder.label "Principal Atividade" %><br>
          <%= builder.collection_select(:job_id, Job.all, :id, :nome, prompt: true) %>
          <!-- #select :job_id, options_for_select([['Serviço', 1], ['Comércio', 2]]), include_blank: true % > --> 
          <!-- #collection_select("o campo em que vou gravar o parâmetro", o modelo que vou pegar.all, o parâmetro que vou gravar, o que vou mostrar, prompt: true ==> inclue o campo em branco) -->
          <% end %>
        </div>
      
        <br>
        <div class="actions">
          <%= f.submit 'Salvar', class:'btn btn- btn-info'%>
        </div>
      </div>
    </div>
  <% end %>
  </div>
    
  <div class="col-md-2">
  </div>
</div>

  

