
<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
  <%= form_for(@mei) do |f| %>
    <% if @mei.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mei.errors.count, "error") %> prohibited this mei from being saved:</h2>

      <ul>
        <% @mei.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Modifique seus dados</h3>
      </div>
      <div class="panel-body">
        <div class="field">
          <%= f.label :cnpj %><br>
          <%= f.text_field :cnpj %>
        </div>
        <br>
        <div class="field">
          <%= f.label :razao_social %><br>
          <%= f.text_field :razao_social %>
        </div>
        <br>
        <div class="field">
          <%= f.label :cpf %><br>
          <%= f.text_field :cpf %>
        </div>
        <br>
        <div class="field">
          <%= f.label :rg %><br>
          <%= f.text_field :rg %>
        </div>
        <br>
        <div class="field">
          <%= f.label :nome %><br>
          <%= f.text_field :nome %>
        </div>
        <br>
        <div class="field">
          <%= f.label :sexo %><br>
          <%= f.text_field :sexo %>
        </div>
        <br>
        <div class="field">
          <%= f.label :descricao_atividade %><br>
          <%= f.text_field :descricao_atividade %>
        </div>
        <br>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </div>
        
        <!--Nested form for phone_numbers-->
        <div class="field"><br>
          <%= f.fields_for :phone_numbers do |builder| %>
          <%= builder.label "Contato" %><br>
          <%= builder.text_field :number %>
          <% end %>
        </div>
        
        <!--Nested form for  business_address-->
        <div class="field"><br>
          <%= f.fields_for :business_address do |builder| %>
          <p><b>Endereço Comercial</b> 
          <p>
          <%= builder.label "Rua" %><br>
          <%= builder.text_field :rua %>
          <p>
          <%= builder.label "Bairro" %><br>
          <%= builder.text_field :bairro %>
          <p>
          <%= builder.label "cidade" %><br>
          <%= builder.text_field :cidade %>
          <% end %>
        </div>
        
        
        <!--Nested form for home_address -->
        <div class="field"><br>
          <%= f.fields_for :home_address do |builder| %>
          <p><b>Endereço Residencial</b> 
          <p>
          <%= builder.label "Rua" %><br>
          <%= builder.text_field :rua %>
          <p>
          <%= builder.label "Bairro" %><br>
          <%= builder.text_field :bairro %>
          <p>
          <%= builder.label "cidade" %><br>
          <%= builder.text_field :cidade %>
          <% end %>
        </div>
        
      
        <br>
        <div class="actions">
          <%= f.submit 'Salvar', class:'btn btn- btn-info'%>
        </div>
      </div>
    </div>
  <% end %>
  </div>
    
  <div class="col-md-2">
  </div>
</div>

  

