<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @mei.cnpj %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @mei.razao_social %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @mei.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @mei.rg %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @mei.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @mei.sexo %>
</p>

<p>
  <strong>Descricao atividade:</strong>
  <%= @mei.descricao_atividade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mei.email %>
</p>

<%= link_to 'Edit', edit_mei_path(@mei) %> |
<%= link_to 'Back', meis_path %>
