<div class="row">
  <div class="col-md-12">
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= link_to image_tag("recifeHome.jpg", class:"first-slide", alt:"First slide", width: "100%"), "http://www2.recife.pe.gov.br/servico/sala-do-empreendedor-0"%>
          <!--<img class="first-slide" src="assets/recifeHome.jpg" alt="First slide" width= "100%">-->
          <div class="container">
            <div class="carousel-caption">
              <h1>Sala do empreendedor</h1>
              <p>Descubra como se tornar um MEI e ajudar a sua cidade a crescer junto com as pessoas.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag("recife.jpg", class:"second-slide", alt:"Second slide", width: "100%"), "http://www2.recife.pe.gov.br/"%>
          <!--img class="second-slide" src="assets/recife.jpg" alt="Second slide" width= "100%">-->
          <div class="container">
            <div class="carousel-caption">
              <h1>Prefeitura do recife</h1>
              <p>Veja as novidades que estão sendo ofertadas pela prefeitura do recife</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="assets/P-recife.jpg" alt="Third slide" width= "100%">
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->
    </div>
</div>

<div class="jumbotron">
  <div class="container" align="center">
      <img alt="mei" src="/assets/mei.jpg" />
      <h1 style="color: #104185">Encontre os MEIs de forma rápida e fácil</h1>
      <p style="color: #104185">Ache os serviços ou produtos que você precisa e que estão sendo oferecidos pelos MEIs na cidade do Recife</p>
      <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form">
            <div class="row" align="center">
              <div class="col-md-12">
              <div class="form-group">
                  <%= form_tag(:action=> "index", :controller=> "home", :method=> "get", id: "search-form") do %>
                    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Pesquise"%>
                    <%= select_tag( :category, options_for_select([['Serviço', 1], ['Produto', 2]]), class: "form-control") %>
                    <%= submit_tag "Pesquise", class: "btn btn-primary"%>
                   <% end %>
              </div>
          </div>
            </div>
          </form>
        </div>
      </div>
</div>

<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <!-- < % if @meis != nil %> -->
    <% if @meis.present? %>
      <% @meis.each do |mei| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= mei.nome %></h3>
           </div>
           <div class="panel-body">
             <p><strong>Descricao da atividade:</strong></p>
             <%= mei.descricao_atividade %>
            <br>
            <div>
              <br>
            <%= link_to 'Mostrar Mais', mei, class: 'btn btn-sm btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    <% elsif @meis == [] %>
        <div>
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Ops!</strong> Não encontramos nenhum mei para esta pesquisa.
          </div>
        </div>
    <% end %>
  </div>
    
  <div class="col-md-2">
  </div>
</div>
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-6" align="center" style="background-color: #FDE01B">
    <h2 style="color: #104185;">Quer ser divulgado por nós?</h2>
    </br>
    <p style="color: #104185;">Descubra como fazer parte do mei-a-MEI</p>
    <p><a class="btn btn-primary" href="#" role="button">Acesse já &raquo;</a></p>
  </div>
  <div class="col-md-6" align="center" style="background-color: #104185">
    <h2 style="color: #FFFFFF;">Ainda não é MEI?</h2>
    </br>
    
    <p style="color: #FFFFFF;">Descubra como se tornar um MEI, seus benebícios e como participar do mei a mei.</p>
    <p><a class="btn btn-primary" href="#" role="button">Descobrir &raquo;</a></p>
  </div>
</div>

