<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        < %= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            < %= f.label :email %><br />
            < %= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            < %= f.label :password %><br />
            < %= f.password_field :password, autocomplete: "off" %>
          </div>
          < % if devise_mapping.rememberable? -%>
          <div class="field">
            < %= f.check_box :remember_me %>
            < %= f.label :remember_me %>
          </div>
          < % end %>
        <div class="actions">
          < %= f.submit "Entrar" %>
        </div>
        
        < % end %>
        < %= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
-->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4 style="color: black"><center>Faça login para acessar</center></h4></div>
    <div class="panel-body">
      <% if alert %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span></button>
          <center><%= alert %></center>
        </div>
      <% end %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-at fa-fw"></i></span>
            <%= f.text_field :email, :placeholder => "Email", class: "form-control", autofocus: true %>
          </div>
        </div><p></p>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><span class="fa fa-lock fa-fw"></span></span>
          <%= f.password_field :password, :placeholder => "Senha", class: "form-control", autocomplete: "off" %>
        </div><p></p>
        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label "Lembre-me" %>
        </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Entrar", :class => 'btn-submit btn btn-lg btn-primary btn-block' %>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
        </div>
        </div>
    </div>
  </div>
</div>

 
