<!DOCTYPE html>
<html>
  
<head>
  
  <title>mei-a-MEI</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
    <link href="starter-template.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../home">mei-a-MEI</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Conheça os meis', meis_path %></li>
            <li><a href="#raking">Ranking de serviços</a></li>
            <li><A href="http://www2.recife.pe.gov.br/servico/sala-do-empreendedor-0" TARGET="_blank">Sala do empreendedor</a></li>
            <li><a href="#faleconosco">Fale conosco</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div><%= yield %></div>
    
      <footer>
        <div align="center">
          <p>&middot; <a href="#">Home</a> &middot; <a href="#">Quem somos nós</a> &middot; <a href="#">Sobre os Meis</a> &middot; <a href="#">Ranking dos serviços</a> &middot; <a href="#">Localização dos Meis</a> &middot; <a href="#">Sala do empreendedor</a> &middot; <a href="#">Mapa do site</a> &middot; <a href="#">Fale conosco</a> &middot; <a href="#">Parceiros</a></p>
        </div>
        </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>