<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="../home"><i class="fa fa-home"></i>mei-a-MEI</a></li>
            <li><%= link_to 'Conheça os MEIs', meis_path %></li>
            <li><a href="../Ranking">Ranking de serviços</a></li>
            <li><a href="http://www2.recife.pe.gov.br/servico/sala-do-empreendedor-0" TARGET="_blank">Sala do Empreendedor</a></li>
            <li><a href="../FaleConosco">Fale conosco</a></li>
            <li>
              <!-- requerido pela gem devise -->
                <p class="navbar-text">
                  <% if user_signed_in? %>
                    Olá <strong><%= current_user.email %></strong>.
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> | 
                    <%= link_to 'Editar dados', edit_user_registration_path, :class => 'navbar-link' %>
                  <% else %>
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'%>
                  <% end %>
                </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>