<!DOCTYPE html>
<html>
  
<head>
  <link href="/assets/favicon1.ico" rel="shortcut icon" type="image/x-icon" />
  <title>mei-a-MEI</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="starter-template.css" rel="stylesheet">
  
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"> 
      <%= yield %>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-12"> 
        <%= render 'layouts/footer' %>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>